<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SiteDbConnection" connectionString="Data Source=FUZZYDA8TH\LIONDB; Initial Catalog=lists; User ID=garth; Password='candycane';" />
     <add name="SiteDbConnection" connectionString="Data Source=yamin.db.11251023.hostedresource.com; Initial Catalog=yamin; User ID=yamin; Password='hGfXEC6speeg!';" />-->
    <add name="SiteDbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=leaf.arvixe.com;Initial Catalog=lists;User ID=garth;Password='candycane1';"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
